.square {
    width: 50px;
    height: 50px;
    position: relative;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.img img {
    width: 100%;
}

.name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}